
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');


html{
    box-sizing: border-box;
    font-family: "Raleway";

}

*,
::after,
::before{
    box-sizing: inherit;
}

.home-image{
    margin: 0;
    padding: 0;
    background-image: url('images/wp6288043.webp') !important;
    background-size: cover;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    padding: 0 !important;
    margin: 0;
    background-color: #320d3e;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    margin: 0 !important;
    align-items: start;
    /* color: black; */
}
nav{
    display: flex;
}

p{
    font-size: 25px;
    padding: 5px;
    margin-right: 8px;
}
a{
    color: white;
    text-decoration: none;
}

section{
    width: 70%;
}



.container{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
}

.btn-actions{
    display: flex !important;
    
}

.supp{
    background-color: #C21807;
    border: none;
}